{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% load markdown %}
{% block main %}

    <article class="article">
        <div class="article-meta">
            <a class="article-date">
                <time>{{ article.pub_time | date:'m-d-Y' }}</time>
            </a>
        </div>
        <div class="article-inner">

            <header class="article-header">
                <h1 class="article-title">
                    {{ article.title }}
                </h1>
            </header>

            <div class="row">
                <div class="col-sm-6">
                    <p>
                        {{ article.summary | slice:"120" }}
                    </p>
                </div>
                <div class="col-sm-4">
                    <a href="{{ article.image_300x360.url }}"><img src="{{ article.image_300x360.url }}"/></a>
                </div>
            </div>

            <div class="article-entry">
                {{ article.content | mymarkdown }}
            </div>

            <footer class="article-footer">
                <a class="article-share-link" data-share="baidu">Share</a>
                <a href="{% url 'blog:book_detail' article.en_title %}#ds-thread" class="article-comment-link">Comments</a>
            </footer>
        </div>
    </article>

    {% include 'include/duoshuo.html' %}

{% endblock %}