<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="copyright">
                    <em style="margin-right: 20px"> © 2015 Django 1.8</em><br>
                    Theme by <a href=https://github.com/xiangming/landscape-plus"><span>Landscape-plus</span></a>
                </div>
            </div>
            <!-- start social links -->
            <div class="col-sm-4">
                <ul class="social-links" style="margin-right: -80px">
                    <li><a href="https://twitter.com/WhileYang"><i class="fa fa-twitter" title="Twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100008989058717"><i class="fa fa-facebook"
                                                                                             title="FaceBook"></i></a>
                    </li>
                    <li><a href="http://weibo.com/Jythoner"><i class="fa fa-weibo" title="Sina"></i></a></li>
                    <li><a href="http://sighttp.qq.com/authd?IDKEY=1b8ce907fa36ea14a8cc3eb8f5e7ae68b613f02ae4da9855"><i
                            class="fa fa-qq" title="QQ"></i></a></li>
                    <li><a href="https://github.com/Jythoner"><i class="fa fa-github" title="GitHub"></i></a></li>
                </ul>
            </div>
            <!-- end social links -->
        </div>
    </div>
</footer>