<header id="header">
    <div id="banner">
        <canvas id="canv" width="1325" height="320">请升级浏览器</canvas>
    </div>
    <div id="header-outer" class="outer">
        <div id="header-title" class="inner">
            <h1 id="logo-wrap" style="top: 7.4570521217672px;">
                <a href="/" id="logo"> tomato</a>
            </h1>

            <h2 id="subtitle-wrap" style="top: 5.96564169741376px;">
                <a href="/" id="subtitle">A Wander-ful Place</a>
            </h2>

        </div>

        <div id="header-inner" class="inner">
            <nav id="main-nav">
                <a id="main-nav-toggle" class="nav-icon"></a>
                <a class="fa fa-spinner fa-spin nav-icon" title="To be continue"
                   style=" color:#1CD3CB;opacity: 1; bottom:-4px;"></a>

                <a class="main-nav-link" href="/" title="Home">Home</a>
                <a class="main-nav-link" href="{% url 'blog:archive' %}" title="Archives">Archives</a>
                <a class="main-nav-link" href="{% url 'blog:contact' %}" title="Contact">Contact</a>

            </nav>
            <nav id="sub-nav">

                <a class="fa fa-spinner fa-spin nav-icon" title="To be continue"
                   style=" color:tomato;opacity: 1; bottom:-4px;"></a>

                <a href="/contact">
                    <i class="fa fa-envelope-o nav-icon" title="Email" style="font-style: italic"></i>
                </a>
                <a class="fa fa-rss nav-icon" title="rss" href="/rss"></a>

                <a id="nav-search-btn" class="fa fa-search nav-icon" title="Search"></a>
            </nav>
            <div id="search-form-wrap">
                <form action="/search" method="get" accept-charset="utf-8"
                      class="search-form">
                    <input type="search" name="s" maxlength="20" class="search-form-input"
                           placeholder="Search">

                </form>
            </div>
        </div>

    </div>
</header>